---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { buttonVariants } from "@/components/ui/button";
---

<BaseLayout
  title="Post Page"
  description="Post Page"
>
  <section class="container grid items-center gap-6 pt-6 pb-8 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl leading-tight font-extrabold tracking-tighter md:text-4xl"
      >
        Post Page
      </h1>
      <p class="text-muted-foreground max-w-[700px] text-lg">
        Post Page content
      </p>
    </div>
  </section>
</BaseLayout>
