---
import { buttonVariants } from "@/components/ui/button";
import BentoBox from "@/components/layout/BentoBox.astro";
import Header from "../page/Header.astro";
---

<Header title="Contact" subtitle="Let's Connect" />

<BentoBox className="text-center max-w-6xl mx-auto mt-8">
    <p class="text-xl text-gray-600 dark:text-gray-400 mb-6">
      Whether you're looking to explore a new project or simply want to chat, I'm eager to hear your ideas and discuss potential opportunities.
    </p>
    <a 
      href="/contact"
      class={buttonVariants({ variant: 'default' })}
    >
      Get in Touch
    </a>
</BentoBox>
