---
import BentoBox from '@/components/layout/BentoBox.astro';
import { technologies } from '@/config';
import Header from '@/components/page/Header.astro';
---

<Header title="Technologies" subtitle="What I've been using in my projects." />

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-6 gap-8 mt-8">
    {technologies.map((tech) => (
        <BentoBox className="p-0 overflow-hidden aspect-square" padding={false}>
            <img src={tech.image} alt={tech.name} class="w-full h-full object-cover" />
        </BentoBox>
    ))}
</div>
