---
import { ModeToggle } from '@/components/ModeToggle';
import { Search } from "@/components/Search";
import RssFeed from "@/components/RssFeed";
import MobileMenu from "@/components/MobileMenu";
import { navBarLinks } from '@/config'
---

<header
  class="bg-background/95 supports-[backdrop-filter]:bg-background/60 sticky top-0 z-50 w-full border-b backdrop-blur"
>
  <div class="container flex h-16 items-center justify-between">
    <!-- Left side: Mobile Menu or Desktop Home Link -->
    <div class="flex items-center">
      <!-- Mobile Navigation: Burger Menu -->
      <div class="sm:hidden">
        <MobileMenu client:load />
      </div>
      <!-- Desktop: Logo or Home Link -->
      <nav class="hidden sm:flex items-center space-x-4">
        {navBarLinks.map((lnk) => (
          <a href={lnk.url} class="flex items-center">
            <span class="inline-block font-bold">{lnk.title}</span>
          </a>
        ))}
      </nav>
    </div>

    <!-- Right side: Theme Toggle -->
    <div class="flex items-center space-x-4">
      <Search client:load />
      <RssFeed client:load />
      <ModeToggle client:load />
    </div>
  </div>
</header>
