---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { buttonVariants } from "@/components/ui/button";
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<BaseLayout
  title="Astro Shadcn UI Template"
  description="This template helps you build apps with Astro, Tailwind CSS, and Shadcn UI."
>
  <section class="container grid items-center gap-6 pt-6 pb-8 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl leading-tight font-extrabold tracking-tighter md:text-4xl"
      >
        Astro Shadcn UI Template <br class="hidden sm:inline" />
        built with Radix UI and Tailwind CSS.
      </h1>
      <p class="text-muted-foreground max-w-[700px] text-lg">
        Accessible and customizable components that you can copy and paste into
        your apps. Free. Open Source.
      </p>
    </div>
    <div class="flex gap-4">
      <a
        href="https://ui.shadcn.com"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants()}
      >
        Documentation
      </a>
      <a
        href="https://github.com/AREA44/astro-shadcn-ui-template"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants({ variant: 'outline' })}
      >
        GitHub
      </a>
    </div>
  </section>
</BaseLayout>
