---
import Layout from "../layouts/Layout.astro";
import { homePageContent } from "../config";
---

<Layout seo={homePageContent.seo}>
  <section class="mt-10 max-w-4xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">Home</h1>
    <p class="opacity-60 mb-10">{homePageContent.role}</p>
  </section>
  <section class="mt-10 max-w-4xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">Contact me</h1>
    <p class="opacity-60 mb-10">LinkedIn</p>
  </section>
  <section class="mt-10 max-w-4xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">Recent posts</h1>
    <p class="opacity-60 mb-10">Post 1</p>
  </section>
  <section class="mt-10 max-w-4xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">Recent talks</h1>
    <p class="opacity-60 mb-10">Post 1</p>
  </section>
  <section class="mt-10 max-w-4xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">Recent projects</h1>
    <p class="opacity-60 mb-10">Post 1</p>
  </section>
</Layout>
